<div class="card my-5">
  <div class="card-body">
    <form #bookForm="ngForm" novalidate>
      <div class="form-group">
        <label>Name</label>
        <label>
          <input class="form-control" [(ngModel)]="book.name"
                 name="name" placeholder="Enter book name" required />
        </label>
      </div>
      <!--div>Имя: {{bookForm.value.name}}</div-->
      <button [disabled]="bookForm.invalid" type="submit" class="btn btn-info" (click)="onSubmit(bookForm)">Submit</button>
    </form>
  </div>
</div>
